Server/.idea/
Server/weat.iml
Server/target/
.classpath
.project
Server/.classpath
Server/.project
Server/.settings/
bin/


Client/app/*.iml
Client/*.iml
Client/.gradle
Client/local.properties
Client/.idea/
.DS_Store
Client/build
Client/captures
Client/.externalNativeBuild

